.html {
    color: yellowgreen
}
body {
   margin: 0px;
    

}

p {
  font-family: verdana;
  font-size: 20px;
}

.description{
   color: aqua;

}

.subtittle{
   color:brown;
}

.title{
   color:red;
}

.section-content{
   color: black;
   font-family: 'Space Mono', monospace;
}

.hero-section {
  background-color: darkorange;
   text-align: center;
  height: 100vh;
  display: flex;
   justify-content:center;
   align-items:center;
   flex-direction: column;
   margin-bottom: 50;
}



.nav-menu {
   top: 0px;
   left: 0px;
   background-color: white;
   display: flex;
   gap: 100px;
   width: 100%;
   justify-content: space-around;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   border-bottom: 5px solid black;


}

.nav-menu a {
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-family: 'Space Mono', monospace;
}

.menu {
   position: fixed;
   width: 100%;
   left: 0px;
   top: -16px;
   display:flex;
   align-items: center;
   justify-content: center;
   margin: 0px;
   font-weight:700;
}

.h1{
   width: 10px;
   margin: auto;

}


.h2{
   width: 50px;

}

.p-tag {
   width: 50px;
}

.nav-item {
  color:black;

}

.nav-item a:hover{
   color: darkorange;
   transition: 0.5s;
}

.Siomai {
   width:500px;
   height:500px;
}

.Siomais {
   background-color: yellow;
   display:flex;
   gap:200px;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
}

.productname {
   font-size:x-large; 
   text-align: center;
}

.title {
   font-family: 'Arial Narrow', sans-serif;
   color: black;
   font-size: 50px;
   font-weight: 900;
}

.title:hover {
   font-size: 70px;
   text-decoration: underline;
   transition: 0.5s;
}

.orderbody {
   background-color: yellow;
}

.siomai-cont{
   box-shadow: 5px 15px black ;
   background-color: red;
   padding: 10px;
   border: 5px solid black;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.titlediv {
   background-color: yellow;
   display:flex;
   justify-content: start;
   align-items: center;
   gap: 20px;
   padding-left: 20px;
}

.backbtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #d21427;
  border: 5px solid black;
}

.backbtn:hover {background-color: #3e8e41}

.backbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Contacts{

}

.Products.html {
   background: linear-gradient(135deg, #ff8c00 0%, #ffd700 50%, #32cd32 100%);
}

.About.html {

   color :linear-gradient(135deg, #ff8c00 0%, #ffd700 50%, #32cd32 100%); 
}

.backbtn {
   text-align: center;

}

.tittle{
   font-family:Times;
}

.products{
   font-size: 30px;
   text-align: center;
   background-color:#25b520;
   margin-bottom: 10px;;
}

.Text {
    color:black;
    font-family: 'Courier New', monospace;
}

.image-display {
   height: 250px;
   width: 250px;
   border-radius: 10px;
   object-fit: cover;

}

.product-order {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   gap: 30px;
}

.Orderbtn {
   font-size: 20px;

}

.Producttitle {
   color: black;
   font-family: 'Space Mono', monospace;
}

.order-input {
   font-size:20px;
   font-family: 'Space Mono', monospace;  
}

.aboutdiv {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-image: url('https://i.pinimg.com/originals/61/af/58/61af58fa5a6bfacbe12d110a7f0bd4d9.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.aboutcontent {
   padding: 20px;
   border: 5px solid black;
   width: 700px;
   height: 600px;
   background-color: green;
   box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.654);
}

.contentparagraph {
   font-size: large;
   font-family: 'Space Mono', monospace;  
   color:#fff;
   text-align: justify;
}

.abouttitle {
   color:#fff;
   text-align:center;
}

.titlediv2{
 background-color: #25b520;
 display:flex;
   justify-content: start;
   align-items: center;
   gap: 20px;
   padding-left: 20px; 
   
}

.logo-img {
  width: 200px;  
  height: auto;


}

.logo-img2 {
   width: 200px;
   height:auto;
}